/*
 * Requires a local copy of the WP Sharks Core.
 */
@import '../../../../../wp-sharks-core/src/client-s/css/env';

/*
 * Brand configuration.
 */
$brand-slug: 'svg-media';
$brand-var: 'svg_media';

/*
 * SVG styles.
 */
.media .media-icon img[src$='.svg'],
#postimagediv .inside img[src$='.svg'] {
  width:                      auto;
  height:                     auto;
}
